body {
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
}

.container2 h1 {
  font-size: 50px;
}

h3 {
  text-align: center;
}

.container1 {
	margin: 300px;
	padding: 50px;
	border-style: solid;
  border-width: 12px;
  border-radius: 30px
}

.container2 {
	text-align: center;
}

.container3 {
	background-color: #555;
	border-radius: 10px;
	margin: auto;
	padding: 20px;
	font-size: 30px;
	color: #fff;
}

legend {
	font-size: 50px;
	display: block;
	margin: auto;
}

label {
	font-size: 35px;
}

input {
  font-size: 30px;
}

form span {
  font-size: 50px;
}

.delta {
  color: yellow;
}

.result{
  color: greenyellow;
}